<app-nav></app-nav>
<div class="container">
  <form [formGroup]="registerForm" role="form" name="form" (ngSubmit)="register(registerForm.value)" #f="ngForm" novalidate
    class="form">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Raise Request</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12 col-sm-12">
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <label class="control-label" for="gid">Associate ID </label>
              <input type="text" formControlName="gid" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group col-md-4 col-sm-4">
            <label class="control-label" for="emp_name">Name</label>
            <input type="text" formControlName="emp_name" class="form-control" disabled>
          </div>
          <div class="form-group col-md-4 col-sm-4">
            <label for="gender">Gender</label>
            <input type="text" formControlName="gender" class="form-control" disabled>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="form-group col-md-4 col-sm-4">
            <label class="control-label" for="journeycity">Journey City </label>
            <select Name="journeycity" formControlName="journeycity" class="form-control input-sm" required>
              <option value="" selected>Select a City</option>
              <option *ngFor="let options of cities_list" [value]="options.name">{{options.name}}</option>
            </select>
            <small class="textcolor" *ngIf="formErrors.journeycity">
              {{ formErrors.journeycity }}
            </small>
          </div>
          <div class="form-group col-md-4 col-sm-4">
            <label class="control-label" for="journeylocation">Journey Location</label>
            <select formControlName="journeylocation" class="form-control input-sm">
              <option value="" selected>Select Journey Location</option>
              <option *ngFor="let locs of locations_list" [value]="locs.name">{{locs.name}}</option>
            </select>
            <small class="textcolor" *ngIf="formErrors.journeylocation">
              {{ formErrors.journeylocation }}
            </small>
          </div>
          <div class="form-group col-md-4 col-sm-4" [ngClass]="{ 'has-error':  formErrors.ContactNumber}">
            <label class="control-label" for="ContactNumber">Contact Number </label>
            <input formControlName="ContactNumber" type="text" class="form-control">

            <small class="textcolor" *ngIf="formErrors.ContactNumber">
              {{ formErrors.ContactNumber }}
            </small>
          </div>
        </div>
        <font>
          <b class="textcolor">NOTE:</b>
        </font>
        Single Journey is limited to 7 days only(7 time usage ) after that the usage will be charged for Full month (band wise)
        <td>
          <font>
            <b class="textcolor">NOTE:</b>
          </font>
          Revised Single Journey charges for PUNE location: Rs.100/- per day
      </div>
      <div class="centeralign">
        <button type="button" (click)="showpanel()" class="btn btn-primary">Proceed</button>
        <button type="button" (click)="reset()" class="btn btn-default">Reset</button>
      </div>
    </div>
    <!-- Start of second panel -->
    <div *ngIf="showme">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Registration for February 2018</h3>
        </div>
        <div class="panel-body">
          <!-- <form class="form"> -->
          <!-- <div class="width">
            <button type="button" class="btn btn-block btn-info btn-xs" data-toggle="modal" data-target="#infomodal">Click to view the procedure before registering</button>
          </div> -->
          <div class="col-md-12 col-sm-12">
            <div class="form-group col-md-4 col-sm-4">
              <label class="control-label" for="ticket_type">Please select the Journey Type: </label>
            </div>
            <div class="form-group col-md-4 col-sm-4">
              <label *ngFor="let options of journeyType" class="radio-inline">
                <input formControlName="journey_type" type="radio" name="journey_type" value="{{options.name}}" (click)="onSelectJourneyType(options)">{{options.name}}
              </label>
              <small class="textcolor" *ngIf="formErrors.journey_type">
                {{ formErrors.journey_type }}
              </small>
            </div>
            <div class="form-group col-md-4 col-sm-4" *ngIf="showdatepicker">
              <input type="date" formControlName="journey_date" class="form-control" id="datepicker">
            </div>
          </div>
          <!-- </form> -->
          <div>
            <button type="button" class="btn btn-primary center-block" (click)="showthegrid()">Select</button>
          </div>
          <!-- grid start -->
          <div *ngIf="showgrid">
            <div class="box">
              <div class="table-responsive">
                <div class="box-header with-border">
                  <tr>
                    <td>
                      <h4 class="box-title">Route Details(s)
                      </h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="width">
                        <button type="button" class="btn btn-block btn-info btn-xs">Click here to download Route details</button>
                      </div>
                    </td>
                  </tr>
                </div>
                <!-- end of box-header -->
                <div class="box-body">
                  <table class="table table-bordered table-striped">
                    <tbody>
                      <tr>
                        <th>Select Route</th>
                        <th>Route No.</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Departure Time</th>
                        <th>View Pickup/Drop points</th>
                        <th>Pickup/Drop point</th>
                      </tr>
                      <tr *ngFor="let routes of routes_list; let i = index">
                        <td align="center" valign="middle">
                          <input type="radio" name="route_no" (click)="onSelect(routes)">
                        </td>
                        <td align="center" valign="middle">{{routes.RouteNo}}</td>
                        <td align="center" valign="middle">{{routes.Origin}}</td>
                        <td align="center" valign="middle">{{routes.Destination}}</td>
                        <td align="center" valign="middle">{{routes.DepartuteTime}}</td>
                        <td align="center" valign="middle">
                          <a href="#" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-list-alt"></span> View
                          </a>
                        </td>
                        <td align="center" valign="middle">
                          <select class="form-control input-sm" formControlName="pick_up_point" (change)="togglepickpoint($event.target.value)">
                            <option value="" selected>select pickup/drop point</option>
                            <option *ngFor="let options of routes.PickupPoint; let j = index" [value]="routes.PickupPoint[j]">{{routes.PickupPoint[j]}}</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- end of box-body -->
              </div>
            </div>
            <div class="centeralign">
              <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Register</button>
            </div>
          </div>
          <!-- grid ends -->
        </div>
      </div>
    </div>
    <!-- End of second panel -->
    <!-- popup start -->
    <div class="modal fade" id="infomodal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Information</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            Types of Tickets: SJT, TJT
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- popup ends -->
    <!-- update Modal start -->
    <div id="updateModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirm</h4>
          </div>
          <div class="modal-body">
            <p>Do you want to udpate the existing request</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- udpate Modal ends -->
  </form>

</div>
