<app-nav></app-nav>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Yearly Journey Requests</h3>
    </div>
    <div class="panel-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>Route #</th>
            <th>Origin</th>
            <th>Destination</th> 
            <th>Pick Up Point</th>           
            <th>Registration Date</th>
            <th>Cancellation Date</th>
            <th>Journey Type</th>
            <th>Status</th>
          </tr>
          <!-- <tr> -->
          <tr *ngFor="let list of yearJourneyList">
            <td>{{list.route_no}}</td>
            <td>{{list.origin}}</td>
            <td>{{list.destination}}</td>
            <td>{{list.pick_up_point}}</td>
            <td>{{list.created_date | date}}</td>
            <td>{{list.updated_date | date}}</td>
            <td>{{list.journey_type}}</td>
            <td *ngIf="list.status == 1">
              <span class="label label-success">Active</span>
            </td>
            <td *ngIf="list.status == 0">
              <span class="label label-danger">Cancelled</span>
            </td>
            
            
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Single Journey Requests</h3>
    </div>
    <div class="panel-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>Route #</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Pick Up Point</th>
            <th>Registration Date</th>
            <th>Journey Date</th>
            <th>Journey Type</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let list of singleJourneyList">
            <td>{{list.route_no}}</td>
            <td>{{list.origin}}</td>
            <td>{{list.destination}}</td>
            <td>{{list.pick_up_point}}</td>
            <td>{{list.created_date | date}}</td>
            <td>{{list.journey_date | date}}</td>
            <td>{{list.journey_type}}</td>
            <td *ngIf="list.status == 1">
              <span class="label label-primary">Approved</span>
            </td>
            <td *ngIf="list.status == 0">
              <span class="label label-danger">Cancelled</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
