<app-nav></app-nav>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Yearly Journey Requests</h3>
    </div>
    <div class="panel-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>Route Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Registration Date</th>
            <th>Cancellation Date</th>
            <th>Journey Type</th>
            <th>Status</th>
          </tr>
          <!-- <tr> -->
          <tr *ngFor="let list of yearJourneyList.data">
            <td>{{list.route_no}}</td>
            <td>{{list.origin}}</td>
            <td>{{list.destination}}</td>
            <td>{{list.created_date}}</td>
            <td>{{list.updated_date}}</td>
            <td>{{list.journey_type}}</td>
            <!-- <div *ngIf="showActive"> -->
                <td *ngIf="showActive">
                    <span class="label label-danger">Approved</span>
                  </td>
                <!-- </div> -->
            <!-- <div *ngIf= "showCancelled" > -->
              <td *ngIf= "showCancelled">
                <span class="label label-danger">Cancelled</span>
              </td>
            <!-- </div> -->
            
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Single Journey Requests</h3>
    </div>
    <div class="panel-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
              <th>Route Number</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Registration Date</th>
              <th>Journey Date</th>
              <th>Journey Type</th>
              <th>Status</th>
          </tr>
          <tr *ngFor="let list of singleJourneyList.data">
              <td>{{list.route_no}}</td>
              <td>{{list.origin}}</td>
              <td>{{list.destination}}</td>
              <td>{{list.created_date}}</td>
              <td>{{list.journey_date}}</td>
              <td>{{list.journey_type}}</td>
            <td>
              <span class="label label-primary">Approved</span>
            </td>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>