<app-nav></app-nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <div class="jumbotron text-center">
      <img src="assets/images/logo-techMahindra.png" alt="Transportation" />
    <h1 class="display-3">Digital Transportation Tool</h1>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Search</h2>
      <p>Provide features to search for equipments and assets.</p>
      <p><a class="btn btn-secondary" routerLink="/Search" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Equipment</h2>
      <p>Feature to manage Equipements. User can create/ manage equipments of different types and at different locations/sites.</p>
      <p><a class="btn btn-secondary" routerLink="/Equipments" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Asset</h2>
      <p>Feature to manage Assets. User can create/ manage assets of different types and at different locations/sites.</p>
      <p><a class="btn btn-secondary" routerLink="/Asset" role="button">View details &raquo;</a></p>
    </div>
  </div>
