<app-nav></app-nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <div class="jumbotron text-center">
    <img src="assets/images/logo-techMahindra.png" alt="Transportation" />
    <h1 class="display-3">Digital Transportation Tool</h1>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Employee</h2>
      <p>Employee Feature: </p>
      <ul>
        <li>Bus Facility Request</li>
        <li>View Availability Seats</li>
        <li>View History</li>
        <li>Cancel Request</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Transport Team</h2>
      <p>Transport Team Feature: </p>
      <ul>
        <li>Route Lists</li>
        <li>Approve Vehicle</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Vendor Team</h2>
      <p>Vendor Team Feature: </p>
      <ul>
        <li>Register Vehicle</li>
        <li>Register Driver</li>
      </ul>
    </div>
  </div>