<app-nav></app-nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <div class="jumbotron text-center">
    <img src="assets/images/logo-techMahindra.png" alt="Transportation" />
    <h1 class="display-3">Digital Transportation Tool</h1>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Single Journey Ticket (SJT)</h2>
      <p>Single Journey ticket holders have to travel by Shuttle buses only.</p>
      <p>SJT is charged @ of Rs.70 per day (to & from) irrespective of bands.</p>
    </div>
    <div class="col-md-4">
      <h2>Yearly Journey Ticket (YJT)</h2>
      <p>To avail a route bus service, please register a Yearly Journey Ticket (YJT ) through EASY.</p>
    </div>
    <div class="col-md-4">
      <h2>YJT Cancellation Procedures</h2>
      <p>Cancellation of YJT shall be raised by the associates in EASY and submit the ticket to CS (Location 
        Transport-In-Charge) within stipulated time (24hrs from the time of cancel 
        request registered).</p>
    </div>
  </div>