<app-nav></app-nav>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Yearly Journey Requests</h3>
    </div>
    <div class="panel-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th></th>
            <th>Associate ID</th>
            <th>Associate Name</th>
            <th>Registration Date</th>
            <th>Journey Type</th>
            <th>Status</th>
          </tr>
          <tr *ngFor=" let activeList of journeyActiveList.data;">
              <td align="center" valign="middle">
                  <input type="radio" name="route" (click)="onSelect(routes)">
                </td>
            <td align="center" valign="middle">{{activeList.gid}}</td>
            <td align="center" valign="middle">{{activeList.name}}</td>
            <td align="center" valign="middle">{{activeList.created_date}}</td>
            <td align="center" valign="middle">{{activeList.journey_type}}</td>
            <td>
              <span class="label label-success">Active</span>
            </td>
          </tr>
        </table>
      </div>
      <button type="button" class="btn btn-block btn-danger">Cancel Request</button>
    </div>
  </div>
</div>