<app-nav></app-nav>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Yearly Journey Requests</h3>
    </div>
    <div class="panel-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th></th>
            <th>Route #</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Pick Up Point</th>
            <th>Registration Date</th>
            <th>Journey Type</th>
            <th>Status</th>
          </tr>
          <tr *ngFor=" let activeList of journeyActiveList;">
            <td>
              <input type="radio" name="route" (click)="onSelect(activeList.id)">
            </td>
            <td>{{activeList.route_no}}</td>
            <td>{{activeList.origin}}</td>
            <td>{{activeList.destination}}</td>
            <td>{{activeList.pick_up_point}}</td>
            <td>{{activeList.created_date | date}}</td>
            <td>{{activeList.journey_type}}</td>
            <td>
              <span class="label label-success">Active</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="centeralign">
          <!-- <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog> 
          <button type="button" class="btn btn-danger" (click)="cancelRequest()" pButton icon="fa-check" label="Confirm">Cancel Request</button> -->
      <button type="button" class="btn btn-danger" (click)="cancelRequest()" [disabled]="enableCancelButton">Cancel Request</button>
    </div>
    </div>
  </div>
</div>
