<app-nav></app-nav>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Yearly Journey Requests</h3>
    </div>
    <div class="panel-body">
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th></th>
            <th>Associate ID</th>
            <th>Associate Name</th>
            <th>Registration Date</th>
            <th>Journey Type</th>
            <th>Status</th>
          </tr>
          <tr>
            <td>
              <input type="radio" name="" value="" checked>
              <br>
            </td>
            <td>326608</td>
            <td>Partha Saradhi Gajula</td>
            <td>12-02-2018</td>
            <td>Yearly</td>
            <td>
              <span class="label label-success">Active</span>
            </td>
          </tr>
        </table>
      </div>
      <button type="button" class="btn btn-block btn-danger">Cancel Request</button>
    </div>
  </div>
</div>