<app-nav></app-nav>
<!-- grid start -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Vehicle Approval Pending List</h3>
        </div>
        <div class="form-group1">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr class="bold">
                <td align="center" valign="middle">Vehicle Registration Number</td>
                <td align="center" valign="middle">View Details</td>
                <td align="center" valign="middle">Status</td>
                <td align="center" valign="middle">Action</td>
              </tr>
              <tr *ngFor="let list of vehicleList" class="table-row">
                <td align="center" valign="middle">{{list.vehicleRegNo}}</td>
                <td align="center" valign="middle">
                  <a href="#" class="btn btn-info btn-sm" data-toggle="modal" data-target="#detailsModal" (click)="viewButton(list.vehicleRegNo)">
                  <span class="glyphicon glyphicon-list-alt"></span> View
                </a>
                </td>
                <td align="center" valign="middle">{{list.verificationStatus}}</td>
                <td align="center" valign="middle">
                  <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#approveModal" (click)="approveButton(list.vehicleRegNo)">
                  <span class="glyphicon glyphicon-ok"></span> Approve
                </a>
                  <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#cancelModal" (click)="cancelButton(list.vehicleRegNo)">
                  <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- grid ends -->
<!-- detailsModal start -->
<div *ngIf="viewModal">
  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Vehicle Status Details:</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td>Vehicle Registration Number</td>
                <td>{{viewList.vehicleRegNo}}</td>
              </tr>
              <tr>
                <td>Vehicle Type</td>
                <td>{{viewList.vehicleTypeId}}</td>
              </tr>
              <tr>
                <td>Verification Status</td>
                <td>{{viewList.verificationStatus}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- detailsModal ends -->
<!-- approveModal start -->
<div *ngIf="approveModal">
  <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Approval Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
        </div>
        <div class="modal-body">
          <p>Do you want to approve the request?</p>
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <th>Vehicle Registration Number</th>
                <th>Status</th>
              </tr>
              <tr>
                <td>{{viewList.vehicleRegNo}}</td>
                <td>{{viewList.verificationStatus}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="approve(list.vehicleRegNo)">Confirm</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- approveModal ends -->
<!-- cancelModal start -->
<div *ngIf = "cancelModal">
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Approval Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
      </div>
      <div class="modal-body">
        <p>Do you want to Cancel the request?</p>
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th>Vehicle Registration Number</th>
              <th>Status</th>
            </tr>
            <tr>
              <td>{{viewList.vehicleRegNo}}</td>
              <td>{{viewList.verificationStatus}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- cancelModal ends -->